.login {
    position: fixed;
    z-index: 100;
    background: radial-gradient(calc(50vh + 100vw) at 15.69% 100%, #FACF67 0%, #EE4F32 40.24%, #DA1B51 74.48%, #8318B6 100%);
    width: 100%;
    height: 100%;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 13rem;
    width: 16rem;
    position: absolute;

    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}

.login input{
    height: 3rem;
    width: 16rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #FFFFFF;
    background: none;
    box-sizing: border-box;
    color:white;
    transition: 0.3s;
    text-align: center;
}
.login input:focus{
    width: 18rem;
    background-color: white;
    color: black;
    outline:none;
}
.login input[type=submit]:hover{
    background-color: white;
    color: black;
}
.login input[type=submit]{
    width: 10rem;
}

.login input::placeholder{
    color: white;
}