.post-container{
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.user-thumb{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.post-buttons{
    font-size: 1.5rem;
    display: flex;
    width: 4rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}